name: Build-test

on:
  push:
    branches: [main, master]
  pull_request:
    branches: [main, master]

jobs:
  test:
    name: Run Rust tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - name: Set up Rust
        uses: actions-rust-lang/setup-rust-toolchain@v1
      
      - name: Run tests
        run: cargo test core --no-default-features
      
      - name: Check code formatting
        run: cargo fmt -- --check
        continue-on-error: true
      
      - name: Run clippy
        run: cargo clippy -- -D warnings
        continue-on-error: true